// @theme "~/.local/share/rofi/themes/arc_dark_transparent_colors.rasi"

//@theme "/usr/share/rofi/themes/DarkBlue.rasi"

//@theme "/usr/share/rofi/themes/DarkBlue.rasi"

//@theme "/usr/share/rofi/themes/gruvbox-light-soft.rasi"

//@theme "/usr/share/rofi/themes/DarkBlue.rasi"

@theme "/home/rysia/.local/share/rofi/themes/arc_dark_transparent_colors.rasi"
